image @IMAGE@ {
	hdimage {
		align = 8M
		disk-signature = 0x7364
	}
	partition imx-boot {
		in-partition-table = "no"
		image = "flash.bin"
		offset = 32K
	}
	partition boot {
		offset = 8M
		image = boot.vfat
		partition-type = 0x0C
		bootable = true
		size = 100M
	}
	partition root {
		image = root.ext2
		partition-type = 0x83
		size = 1G
	}
}
