# Configuration file for the rauc fw_(printenv/setenv) utility.
# Up to two entries are valid, one for the main and one for 
# the redundant environment. A negative offset is treated 
# as a backwards offset from the end of the device/partition.

# Device name			Device offset	Env. size	
/dev/mmcblk1boot0		-0x20000	0x20000
/dev/mmcblk1boot1		-0x20000	0x20000
